<!-- 
===========================================
BEGIN BLOG SECTION
===========================================
-->
<div class="section-page-landing section-grey" id="blog">
	<div class="inner-section">
		<div class="container">
			<h2 class="text-center">News, Releases</h2>
			
			<!-- BLOG STYLE 1 -->
			<div class="row">
				 {% for post in site.posts limit:4 %}
					<div class="col-md-3 col-sm-6">
						<div class="the-box-landing full the-box-light-grey blog-landing">
							<div class="blog-column">
								<div class="img-wrap">
									<a href="{{ post.url }}">
									<span class="show-link-icon"><i class="fa fa-link"></i></span>
									<img src="{{ post.image }}" alt="{{ post.title }}">
									</a>
								</div>
								<div class="blog-column-des">
									<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
									<p class="additional">By {{ post.author }} on {{ post.date }}</p>
									<a href="{{ post.url }}" class="btn btn-default btn-teplok"><i class="fa fa-angle-right"></i>Read more</a>
								</div><!-- /.blog-column-des -->
							</div><!-- /.blog-column -->
						</div><!-- /.the-box-landing .full the-box-light-grey .blog-landing -->
					</div><!-- /.col-md-3 .col-sm-6 -->
				{% endfor %}
			</div><!-- /.row -->
			<!-- END BLOG STYLE 1 -->
			
		</div><!-- /.container -->
	</div><!-- /.inner-section -->
</div><!-- /.section-page-landing -->
<!-- 
===========================================
END BLOG SECTION
===========================================
-->
