<!-- 
===========================================
BEGIN CLIENT SECTION
===========================================
-->
<div class="section-page-landing section-grey" id="client">
	<div class="inner-section">
		<div class="container text-center">
			<h2 class="text-center">Our Clients</h2>
			<div class="clients">
				<div class="row">
					<div class="col-md-2 col-xs-6">
						<a href="#fakelink"><img src="images/client-logo/google-logo.png" alt="Image client"></a>
					</div>
					<div class="col-md-2 col-xs-6">
						<a href="#fakelink"><img src="images/client-logo/wordpress-logo.png" alt="Image client"></a>
					</div>
					<div class="col-md-2 col-xs-6">
						<a href="#fakelink"><img src="images/client-logo/yahoo-logo.png" alt="Image client"></a>
					</div>
					<div class="col-md-2 col-xs-6">
						<a href="#fakelink"><img src="images/client-logo/marlboro-logo.png" alt="Image client"></a>
					</div>
					<div class="col-md-2 col-xs-6">
						<a href="#fakelink"><img src="images/client-logo/microsoft-logo.png" alt="Image client"></a>
					</div>
					<div class="col-md-2 col-xs-6">
						<a href="#fakelink"><img src="images/client-logo/nokia-logo.png" alt="Image client"></a>
					</div><!-- /.col-md-2 col-xs-6 -->
				</div><!-- /.row -->
			</div><!-- /.clients -->
		</div><!-- /.container .text-center -->
	</div><!-- /.inner-section -->
</div><!-- /.section-page-landing .section-grey -->
<!-- 
===========================================
END CLIENT SECTION
===========================================
-->
