<!-- 
===========================================
BEGIN CONTACT SECTION
===========================================
-->
<div class="section-page-landing" id="contact">
	<div class="inner-section">
		<div class="container">
			<h2 class="text-center">Get in Touch</h2>
			<form role="form" class="contact-form" id="ContactForm" method="post">
				<div class="row">
					<div class="col-sm-4">
					  <div class="form-group">
						<input type="text" name="YourName" class="form-control" placeholder="Your name">
					  </div>
					</div>
					<div class="col-sm-4">
					  <div class="form-group">
						<input type="email" name="YourEmail" class="form-control" placeholder="Your email">
					  </div>
					</div>
					<div class="col-sm-4">
					  <div class="form-group">
						<input type="text" name="YourWebsite" class="form-control" placeholder="Your website">
					  </div>
					</div>
				</div>
			  <div class="form-group">
				<textarea class="form-control" name="YourMessage" style="height: 200px" placeholder="Your message"></textarea>
			  </div>
				<div class="row">
					<div class="col-sm-5">
					</div>
					<div class="col-sm-2">
					  <div class="form-group">
						<h4 class="text-center" id="SimpleCaptcha"></h4>
						<input type="text" name="captcha" class="form-control" placeholder="Result">
					  </div>
					</div>
					<div class="col-sm-5">
					</div>
				</div>
				<p class="text-center">
				<button type="submit" class="btn btn-default btn-teplok"><i class="fa fa-envelope"></i>Submit</button>
				</p>
			</form>
		</div><!-- /.container -->
	</div><!-- /.inner-section -->
</div><!-- /.section-page-landing -->
<!-- 
===========================================
END CONTACT SECTION
===========================================
-->
