<!-- 
===========================================
BEGIN FEATURES SECTION
===========================================
-->
<div class="section-page-landing section-light-grey" id="features">
	<div class="inner-section">
		<div class="container">
			<!-- BEGIN FEATURES DESCRIPTION -->
			<h2 class="text-center">Main Features</h2>
			<h4 class="text-center">
				{{ site.description }}
			</h4>
			<!-- END FEATURES DESCRIPTION -->

			<!-- BEGIN FEATURES COLUMN -->
			<div class="row">
				{% for feature in site.data.features %}
					<div class="col-md-3 col-sm-6">
						<div class="the-box-landing border-hover-bottom text-center">
							<h4>{{ feature.title }}</h4>
							<img src="{{ feature.image }}" class="small-icon" alt="Features image">
							<p> {{ feature.desc }} </p>
						</div>
					</div>
				{% endfor %}
			</div><!-- /.row -->
			<!-- END FEATURES COLUMN -->

			<h2 class="text-center">User Testimonials</h2>
			
			<!-- BEGIN TESTIMONIAL CAROUSEL -->
			<div id="carousel-testimonial" class="carousel-landing carousel carousel-testimonial slide" data-ride="carousel">
				<!-- BEGIN TESTIMONIAL ICON -->
				<div class="testimonial-icon">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-comments-o fa-stack-1x fa-inverse"></i>
					</span><!-- /.fa-stack .fa-lg -->
				</div><!-- /.testimonial-icon -->
			
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
			  	{% for userview in site.data.testimonials %}
					<li data-target="#carousel-testimonial" data-slide-to="{{ forloop.index0 }}" 
					   {% if userview.class == 'item active' %}
					    class="active"
					    {% endif %}
					></li>
				{% endfor %}
			  </ol>

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner">
			  	{% for userview in site.data.testimonials %}
					<div class="{{ userview.class }}">
						<div class="testimonial-inner">
							<h5>&#34;
								{{ userview.text }}
							&#34;</h5>
							<h4 class="testimonial-name">{{ userview.name }}</h4>
							<div class="testimonial-avatar">
								<img src="{{ userview.image }}" class="img-circle" alt="Avatar">
							</div><!-- /.testimonial-avatar -->
						</div><!-- /.testimonial-inner -->
					</div><!-- /.item -->
				{% endfor %}
			  </div><!-- /.carousel-inner -->
			</div><!-- /.carousel-landing .carousel .carousel-testimonial .slide -->
			<!-- END TESTIMONIAL CAROUSEL -->

		</div><!-- /.container -->
	</div><!-- /.inner-section -->
</div><!-- /.section-page-landing .section-light-grey -->
<!-- 
===========================================
END FEATURES SECTION
===========================================
-->
