<footer class="site-footer">
	<div class="container">
		<div class="row text-center">
			<div class="col-sm-3">
				<h5>ABOUT US</h5>
				<p>
				Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
				<br />
				<a href="#fakelink">Read more</a>
				</p>
			</div>
			<div class="col-sm-3">
				<h5>NAV MENUS</h5>
				<ul>
					<li><a href="#fakelink">Template Features</a></li>
					<li><a href="#fakelink">Our Services</a></li>
					<li><a href="#fakelink">Our Portfolio</a></li>
					<li><a href="blog-list.html">Blog Page</a></li>
					<li><a href="#fakelink">Contact Us</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h5>OUR LOCATION</h5>
				<address>
				  <strong>Teplok - Responsive Landing Template</strong><br>
				  Ds. Jatirejo RT 02/21 No 25A<br>
				  Sendangadi, Mlati, Sleman<br>
				  Yogyakarta, Indonesia<br>
				  <abbr title="Phone">P:</abbr> (+6274) 123-4567
				</address>

				<address>
				  <strong>Email : </strong><br>
				  <a href="mailto:#">first.last@example.com</a>
				</address>
			</div>
			<div class="col-sm-3">
				<h5>SUBSCRIBE</h5>
				<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,</p>
				<form role="form" method="POST" class="form-subscribe">
					<div class="input-group">
					  <input type="text" class="form-control" placeholder="Email address">
					  <span class="input-group-btn">
						<button class="btn btn-default btn-teplok" type="button"><i class="fa fa-chevron-right"></i></button>
					  </span>
					</div>
				</form>
				<p>*we never send junks</p>
			</div><!-- /.col-sm-3 -->
		</div><!-- /.row .text-center -->
	</div><!-- /.container -->
	
	<div class="footer">
		<div class="container">
			&copy; 2014 <a href="#fakelink">Company Name</a><br />
			<a href="#fakelink">Teplok - Responsive Landing Template</a> design with love by <a href="http://isohdesign.com" target="_blank">ID Studio</a> in Yogyakarta, <abbr title="Indonesia">ID</abbr>
		</div><!-- /.container -->
	</div><!-- /.footer -->

</footer>
