<footer class="site-footer">
	<div class="container">
		<div class="row text-center">
			<div class="col-sm-3">
				<h5>ABOUT US</h5>
				<p>
				{{ site.data.footer.about-us }}
				<br />
				<a href="{{ site.data.footer.about-us-url }}">Read more</a>
				</p>
			</div>
			<div class="col-sm-3">
				<h5>NAV MENUS</h5>
				<ul>
					<li><a href="{{ site.url }}/#features">Features</a></li>
					<li><a href="{{ site.url }}/#blog">News</a></li>
					<li><a href="{{ site.wiki }}">Documentation</a></li>
					<li><a href="{{ site.url }}/#team">Team</a></li>
					<!--li><a href="{{ site.url }}/#contact">Contact</a></li-->
				</ul>
			</div>
			<div class="col-sm-3">
				<h5>OUR LOCATION</h5>
				<address>
				 {{ site.data.footer.address }}
				 {{ site.data.footer.phone }}
				</address>

				<address>
				  <strong>URL : </strong><br>
				  <a href="{{ site.data.footer.url }}">{{ site.data.footer.url }}</a>
				</address>
			</div>
			<div class="col-sm-3">
			<!-- This used to be a SUBSCRIBE email submit form-->
			</div><!-- /.col-sm-3 -->
 		</div><!-- /.row .text-center -->
	</div><!-- /.container -->
	
	<div class="footer">
		<div class="container">
			&copy; 2014 <a href="{{ site.url }}">{{ site.title }}</a><br />
			<a href="#fakelink">Teplok - Responsive Landing Template</a> design with love by <a href="http://isohdesign.com" target="_blank">ID Studio</a> in Yogyakarta, <abbr title="Indonesia">ID</abbr>
		</div><!-- /.container -->
	</div><!-- /.footer -->

</footer>
