
<!-- 
===========================================
BEGIN HEADER SECTION
===========================================
-->
<div id="header-landing">
	{% include menu.html %}

	<!-- HEADER SECTION CONTENT -->
	<div class="awesome-slogan">
		<h2><span>{{ site.title }}</span> - {{ site.slogen }}</h2>
		<h4>{{ site.tagline }}</h4>

		<!-- COUNDOWN TIMER -->
		<h4><span>Remaining time</span> for the <span>Open Source</span> launch event</h2>
		<h4>
			<span class="days">00</span>
			<span class="timeRefDays">days</span>
			<span class="hours">00</span>
			<span class="timeRefHours">hours</span>
			<span class="minutes">00</span>
			<span class="timeRefMinutes">minutes</span>
			<span class="seconds">00</span>
			<span class="timeRefSeconds">seconds</span>
		</h2>
	</div><!-- /.awesome-slogan -->


	<!-- END HEADER SECTION CONTENT -->
</div><!-- /.header-landing -->
<!-- 
===========================================
END HEADER SECTION
===========================================
-->
