<!-- 
===========================================
BEGIN HEADER SECTION
===========================================
-->
<div id="header-landing">
	{% include menu.html %}

	<!-- HEADER SECTION CONTENT -->
	<div class="awesome-slogan">
		<h2><span>{{ site.title }}</span> - {{ site.slogen }}</h2>
		<h4>{{ site.tagline }}</h4>

		<!-- include countdown.html -->
	</div><!-- /.awesome-slogan -->

	<!-- END HEADER SECTION CONTENT -->
</div><!-- /.header-landing -->
<!-- 
===========================================
END HEADER SECTION
===========================================
-->
