
<!-- 
===========================================
BEGIN HEADER SECTION
===========================================
-->
<div id="header-landing">
	<!-- NAV MENU WRAPPER FOR FIXED POSITION -->
	<div id="nav-menu">
		<!-- NAV MENU CONTAINER -->
		<div class="container">
			<!-- LOGO -->
			<div id="logo">
			<h1><a href="index.html"><i class="fa fa-cogs"></i> {{ site.title }}</a></h1>
			</div><!-- /#logo -->
			<!-- END LOGO -->
			<!-- NAV MENU -->
			<div class="menus" id="myScrollspy">
				<ul class="nav scroll-nav">
					<li class="active"><a href="#top"><i class="fa fa-home"></i><span>Home</span></a></li>
					<li><a href="#features"><i class="fa fa-laptop"></i><span>Features</span></a></li>
					<li><a href="#blog"><i class="fa fa-coffee"></i><span>News</span></a></li>
					<li><a href="#portfolio"><i class="fa fa-flask"></i><span>Documentation</span></a></li>
					<li><a href="#team"><i class="fa fa-users"></i><span>Team</span></a></li>
					<li><a href="#contact"><i class="fa fa-envelope"></i><span>Contact</span></a></li>
				</ul>
			</div><!-- /.menus -->
			<!-- END NAV MENU -->
		</div><!-- /.container -->
		<!-- END NAV MENU CONTAINER -->
	</div><!-- /.nav-menu -->
	<!-- END NAV MENU FIXED POSITION -->
	
	<!-- HEADER SECTION CONTENT -->
	<div class="awesome-slogan">
	<h2>{{ site.title }} - {{ site.slogen }}</h2>
	<h4>{{ site.tagline }}</h4>
	</div><!-- /.awesome-slogan -->
	<!-- END HEADER SECTION CONTENT -->
</div><!-- /.header-landing -->
<!-- 
===========================================
END HEADER SECTION
===========================================
-->