<!-- NAV MENU WRAPPER FOR FIXED POSITION -->
<div id="nav-menu">
	<!-- NAV MENU CONTAINER -->
	<div class="container">
		<!-- LOGO -->
		<div id="logo">
			<h1><a href="{{ site.url }}"><i class="fa fa-cogs"></i> {{ site.title }}</a></h1>
		</div><!-- /#logo -->
		<!-- END LOGO -->
		<!-- NAV MENU -->
		<div class="menus" id="myScrollspy">
			<ul class="nav scroll-nav">
				<li class="active"><a href="{{ site.url }}/index.html#top"><i class="fa fa-home"></i><span>Home</span></a></li>
				<li><a href="{{ site.url }}/index.html#features"><i class="fa fa-laptop"></i><span>Features</span></a></li>
				<li><a href="{{ site.url }}/index.html#blog"><i class="fa fa-coffee"></i><span>News</span></a></li>
				<li><a href="http://github.com//cristal-ise/cristal-kernel/wiki"><i class="fa fa-flask"></i><span>Documentation</span></a></li>
				<li><a href="{{ site.url }}/index.html#team"><i class="fa fa-users"></i><span>Team</span></a></li>
				<!--li><a href="{{ site.url }}/#contact"><i class="fa fa-envelope"></i><span>Contact</span></a></li-->
			</ul>
		</div><!-- /.menus -->
		<!-- END NAV MENU -->
	</div><!-- /.container -->
	<!-- END NAV MENU CONTAINER -->
</div><!-- /.nav-menu -->
<!-- END NAV MENU FIXED POSITION -->
