<!-- 
===========================================
BEGIN PORTFOLIO SECTION
===========================================
-->
<div class="section-page-landing" id="portfolio">
	<div class="inner-section">
		<!-- BEGIN MODAL PORTFOLIO -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
			<div class="modal-content">
				<!-- MODAL HEADER -->
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Project name</h4>
				</div>
				<!-- MODAL BODY -->
				<div class="modal-body">
				<img src="images/blog-img/image001.jpg" class="img-responsive" alt="Image portfolio">
				<hr />
					<div class="row">
						<div class="col-sm-4">
							<button class="btn btn-default btn-teplok btn-block">Launch project</button>
							<table class="table table-modal-project">
								<tbody>
									<tr><td><strong>Type</strong></td><td class="text-right">Photography</td></tr>
									<tr><td><strong>Client</strong></td><td class="text-right">Marlboro</td></tr>
									<tr><td><strong>Year</strong></td><td class="text-right">2014</td></tr>
								</tbody>
							</table>
						</div><!-- /.col-sm-4 -->
						<div class="col-sm-8">
							<p style="text-align: justify">
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
							</p>
						</div><!-- /.col-sm-8 -->
					</div><!-- /.row -->
				</div><!-- /.modal-body -->
			</div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal .fade -->
		<!-- END MODAL PORTFOLIO -->
		
		
		<div class="container">
			<h2 class="text-center">Our Work</h2>
			<div class="portfolio-landing">
				<!-- PORTFOLIO CATEGORY FILTER -->
				<ul class="nav nav-pills nav-justified">
					<li class="filter" data-filter="all">All</li>
					<li class="filter" data-filter="web_design">Web Design</li>
					<li class="filter" data-filter="ui_design">UI Design</li>
					<li class="filter" data-filter="logo_design">Logo Design</li>
					<li class="filter" data-filter="photography">Photography</li>
					<li class="filter" data-filter="psd_template">PSD Template</li>
				</ul>
				<!-- END PORTFOLIO CATEGORY FILTER -->
				<!-- BEGIN PORTFOLIO GRID CONTENT -->
				<ul id="portfolio-grid">
					<li class="mix ui_design">
						<div class="des">
							<h4>Project Name</h4>
							<p>Short descriptions</p>
							<p>
								<a data-toggle="modal" data-target="#myModal"><i class="fa fa-share"></i></a>
								<a href="#fakelink"><i class="fa fa-link"></i></a>
							</p>
						</div>
						<img src="images/image_small/image_small001.jpg" alt="Image portfolio">
					</li>
					<li class="mix logo_design">
						<div class="des">
							<h4>Project Name</h4>
							<p>Short descriptions</p>
							<p>
								<a data-toggle="modal" data-target="#myModal"><i class="fa fa-share"></i></a>
								<a href="#fakelink"><i class="fa fa-link"></i></a>
							</p>
						</div>
						<img src="images/image_small/image_small002.jpg" alt="Image portfolio">
					</li>
					<li class="mix photography">
						<div class="des">
							<h4>Project Name</h4>
							<p>Short descriptions</p>
							<p>
								<a data-toggle="modal" data-target="#myModal"><i class="fa fa-share"></i></a>
								<a href="#fakelink"><i class="fa fa-link"></i></a>
							</p>
						</div>
						<img src="images/image_small/image_small003.jpg" alt="Image portfolio">
					</li>
					<li class="mix ui_design">
						<div class="des">
							<h4>Project Name</h4>
							<p>Short descriptions</p>
							<p>
								<a data-toggle="modal" data-target="#myModal"><i class="fa fa-share"></i></a>
								<a href="#fakelink"><i class="fa fa-link"></i></a>
							</p>
						</div>
						<img src="images/image_small/image_small004.jpg" alt="Image portfolio">
					</li>
					<li class="mix web_design">
						<div class="des">
							<h4>Project Name</h4>
							<p>Short descriptions</p>
							<p>
								<a data-toggle="modal" data-target="#myModal"><i class="fa fa-share"></i></a>
								<a href="#fakelink"><i class="fa fa-link"></i></a>
							</p>
						</div>
						<img src="images/image_small/image_small005.jpg" alt="Image portfolio">
					</li>
					<li class="mix logo_design">
						<div class="des">
							<h4>Project Name</h4>
							<p>Short descriptions</p>
							<p>
								<a data-toggle="modal" data-target="#myModal"><i class="fa fa-share"></i></a>
								<a href="#fakelink"><i class="fa fa-link"></i></a>
							</p>
						</div>
						<img src="images/image_small/image_small006.jpg" alt="Image portfolio">
					</li>
					<li class="mix psd_template">
						<div class="des">
							<h4>Project Name</h4>
							<p>Short descriptions</p>
							<p>
								<a data-toggle="modal" data-target="#myModal"><i class="fa fa-share"></i></a>
								<a href="#fakelink"><i class="fa fa-link"></i></a>
							</p>
						</div>
						<img src="images/image_small/image_small007.jpg" alt="Image portfolio">
					</li>
					<li class="mix logo_design">
						<div class="des">
							<h4>Project Name</h4>
							<p>Short descriptions</p>
							<p>
								<a data-toggle="modal" data-target="#myModal"><i class="fa fa-share"></i></a>
								<a href="#fakelink"><i class="fa fa-link"></i></a>
							</p>
						</div>
						<img src="images/image_small/image_small008.jpg" alt="Image portfolio">
					</li>
					<li class="mix ui_design">
						<div class="des">
							<h4>Project Name</h4>
							<p>Short descriptions</p>
							<p>
								<a data-toggle="modal" data-target="#myModal"><i class="fa fa-share"></i></a>
								<a href="#fakelink"><i class="fa fa-link"></i></a>
							</p>
						</div>
						<img src="images/image_small/image_small009.jpg" alt="Image portfolio">
					</li>
					<li class="mix psd_template">
						<div class="des">
							<h4>Project Name</h4>
							<p>Short descriptions</p>
							<p>
								<a data-toggle="modal" data-target="#myModal"><i class="fa fa-share"></i></a>
								<a href="#fakelink"><i class="fa fa-link"></i></a>
							</p>
						</div>
						<img src="images/image_small/image_small010.jpg" alt="Image portfolio">
					</li>
					<li class="mix web_design">
						<div class="des">
							<h4>Project Name</h4>
							<p>Short descriptions</p>
							<p>
								<a data-toggle="modal" data-target="#myModal"><i class="fa fa-share"></i></a>
								<a href="#fakelink"><i class="fa fa-link"></i></a>
							</p>
						</div>
						<img src="images/image_small/image_small001.jpg" alt="Image portfolio">
					</li>
					<li class="mix psd_template">
						<div class="des">
							<h4>Project Name</h4>
							<p>Short descriptions</p>
							<p>
								<a data-toggle="modal" data-target="#myModal"><i class="fa fa-share"></i></a>
								<a href="#fakelink"><i class="fa fa-link"></i></a>
							</p>
						</div>
						<img src="images/image_small/image_small002.jpg" alt="Image portfolio">
					</li>
				</ul>
				<!-- END PORTFOLIO GRID CONTENT -->
			</div><!-- /.portfolio-landing -->
		</div><!-- /.container -->
	</div><!-- /.inner-section -->
</div><!-- /.section-page-landing -->
<!-- 
===========================================
END PORTFOLIO SECTION
===========================================
-->
