<!-- 
===========================================
BEGIN PRICING TABLE SECTION
===========================================
-->
<div class="section-page-landing section-transparent" id="pricing-table">
	<div class="section-overlay">
		<div class="inner-section">
			<div class="container">
				<h2 class="text-center">Pricing Table</h2>
				
				<!-- PRICING TABLE COLUMN -->
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="pricing-table-landing">
							<div class="the-box-landing full">
								<div class="header"><h3>BRONZE</h3></div>
								<div class="circle-price-wrap">
									<h2>&#36;25<small>Per-Month</small></h2>
								</div>
								<table class="table table-inner table-striped">
									<tbody>
										<tr><td><strong>250MB</strong> Storage</td></tr>
										<tr><td><strong>2.5GB</strong> Monthly Bandwidth</td></tr>
										<tr><td><strong>Free</strong> Set up</td></tr>
										<tr><td><strong>10</strong> Email Accounts</td></tr>
										<tr><td><strong>1</strong> Add ons Domain</td></tr>
									</tbody>
									<tfoot>
										<tr><td>
										<a class="btn btn-primary">Purchase</a>
										</td></tr>
									</tfoot>
								</table>
							</div><!-- /.the-box-landing .full -->
						</div><!-- /.pricing-table-landing -->
					</div><!-- /.col-md-3 .col-sm-6 -->
					
					<div class="col-md-3 col-sm-6">
						<div class="pricing-table-landing">
							<div class="the-box-landing full">
								<div class="header"><h3>SILVER</h3></div>
								<div class="circle-price-wrap">
									<h2>&#36;50<small>Per-Month</small></h2>
								</div>
								<table class="table table-inner table-striped">
									<tbody>
										<tr><td><strong>500MB</strong> Storage</td></tr>
										<tr><td><strong>5GB</strong> Monthly Bandwidth</td></tr>
										<tr><td><strong>Free</strong> Set up</td></tr>
										<tr><td><strong>25</strong> Email Accounts</td></tr>
										<tr><td><strong>2</strong> Add ons Domain</td></tr>
									</tbody>
									<tfoot>
										<tr><td>
										<a class="btn btn-primary">Purchase</a>
										</td></tr>
									</tfoot>
								</table>
							</div><!-- /.the-box-landing .full -->
						</div><!-- /.pricing-table-landing -->
					</div><!-- /.col-md-3 .col-sm-6 -->
					
					<div class="col-md-3 col-sm-6">
						<div class="pricing-table-landing best-choice">
							<div class="the-box-landing full">
								<div class="header">
									<h3>GOLD</h3>
								</div>
								<div class="circle-price-wrap">
								<h2>&#36;100<small>Per-Month</small></h2>
								</div>
								<table class="table table-inner table-striped">
									<tbody>
										<tr><td><strong>1GB</strong> Storage</td></tr>
										<tr><td><strong>10GB</strong> Monthly Bandwidth</td></tr>
										<tr><td><strong>Free</strong> Set up</td></tr>
										<tr><td><strong>100</strong> Email Accounts</td></tr>
										<tr><td><strong>5</strong> Add ons Domain</td></tr>
									</tbody>
									<tfoot>
										<tr><td>
										<a class="btn btn-default btn-teplok">Purchase</a>
										</td></tr>
									</tfoot>
								</table><!-- /.table table-inner .table-striped -->
							</div><!-- /.the-box-landing full -->
						</div><!-- /.pricing-table-landing .best-choice -->
					</div><!-- /.col-md-3 .col-sm-6 -->
					
					<div class="col-md-3 col-sm-6">
						<div class="pricing-table-landing">
							<div class="the-box-landing full">
								<div class="header">
									<h3>PLATINUM</h3>
								</div>
								<div class="circle-price-wrap">
								<h2>&#36;250<small>Per-Month</small></h2>
								</div>
								<table class="table table-inner table-striped">
									<tbody>
										<tr><td><strong>3GB</strong> Storage</td></tr>
										<tr><td><strong>50GB</strong> Monthly Bandwidth</td></tr>
										<tr><td><strong>Free</strong> Set up</td></tr>
										<tr><td><strong>200</strong> Email Accounts</td></tr>
										<tr><td><strong>10</strong> Add ons Domain</td></tr>
									</tbody>
									<tfoot>
										<tr><td>
										<a class="btn btn-primary">Purchase</a>
										</td></tr>
									</tfoot>
								</table>
							</div><!-- /.the-box-landing .full -->
						</div><!-- /.pricing-table-landing -->
					</div><!-- /.col-md-3 .col-sm-6 -->
				</div><!-- /.row -->
				<!-- END PRICING TABLE COLUMN -->
				
			</div><!-- /.container -->
		</div><!-- /.inner-section -->
	</div><!-- /.section-overlay -->
</div><!-- /.section-page-landing .section-transparent -->
<!-- 
===========================================
END PRICING TABLE SECTION
===========================================
-->
