<!-- 
===========================================
BEGIN QUOTE OF THE DAY SECTION
===========================================
-->
<div class="section-page-landing section-transparent" id="quote">
	<div class="section-overlay">
		<div class="inner-section">
			<div class="container text-center">
				<div class="quote">
					<h1>&#34;If you can't make it good at least make it look good&#34;</h1>
					<h3>- Bill Gates</h3>
				</div><!-- /.quote -->
			</div><!-- /.container text-center -->
		</div><!-- /.inner-section -->
	</div><!-- /.section-overlay -->
</div><!-- /.section-page-landing .section-transparent -->
<!-- 
===========================================
END QUOTE OF THE DAY SECTION
===========================================
-->
