<!-- 
===========================================
BEGIN SERVICES SECTION
===========================================
-->
<div class="section-page-landing section-grey" id="services">
	<div class="inner-section">
		<div class="container">
			<!-- BEGIN HEADING SECTION -->
			<h2 class="text-center">Our Services</h2>
			<!-- END HEADING SECTION -->
			<!-- BEGIN SERVICES DESCRIPTION -->
			<h4 class="text-center">
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
			</h4>
			<!-- END SERVICES DESCRIPTION -->
			
			<div class="hi-icon-effect-1 hi-icon-effect-1a">
				<div class="row">
					<div class="col-sm-3">
						<div class="the-box-landing the-box-transparent text-center">
							<h4>WEB DESIGN</h4>
							<a href="#fakelink" class="hi-icon hi-icon-screen">Web Design</a>
						</div><!-- /.the-box-landing .the-box-transparent .text-center -->
					</div><!-- /.col-sm-3 -->
					<div class="col-sm-3">
						<div class="the-box-landing the-box-transparent text-center">
							<h4>UI DESIGN</h4>
							<a href="#fakelink" class="hi-icon hi-icon-images">UI Design</a>
						</div><!-- /.the-box-landing .the-box-transparent .text-center -->
					</div><!-- /.col-sm-3 -->
					<div class="col-sm-3">
						<div class="the-box-landing the-box-transparent text-center">
							<h4>MOBILE APPS</h4>
							<a href="#fakelink" class="hi-icon hi-icon-mobile">Mobile Apps</a>
						</div><!-- /.the-box-landing .the-box-transparent .text-center -->
					</div><!-- /.col-sm-3 -->
					<div class="col-sm-3">
						<div class="the-box-landing the-box-transparent text-center">
							<h4>WEB HOSTING</h4>
							<a href="#fakelink" class="hi-icon hi-icon-archive">Web Hosting</a>
						</div><!-- /.the-box-landing .the-box-transparent .text-center -->
					</div><!-- /.col-sm-3 -->
				</div><!-- /.row -->
			</div><!-- /.hi-icon-effect-1 .hi-icon-effect-1a -->
			
			<hr />
			
			<h2 class="text-center">What They Say About Us?</h2>
			
			
			<!-- BEGIN TESTIMONIAL CAROUSEL -->
			<div id="carousel-testimonial" class="carousel-landing carousel carousel-testimonial slide" data-ride="carousel">
				<!-- BEGIN TESTIMONIAL ICON -->
				<div class="testimonial-icon">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-comments-o fa-stack-1x fa-inverse"></i>
					</span><!-- /.fa-stack .fa-lg -->
				</div><!-- /.testimonial-icon -->
			
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
				<li data-target="#carousel-testimonial" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-testimonial" data-slide-to="1"></li>
				<li data-target="#carousel-testimonial" data-slide-to="2"></li>
			  </ol>

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner">
				<div class="item active">
					<div class="testimonial-inner">
						<h5>&#34;
						Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi
						&#34;</h5>
						<h4 class="testimonial-name">Jessica Rice - Yogyakarta, <abbr title="Indonesia">ID</abbr></h4>
						<div class="testimonial-avatar">
							<img src="assets/img/avatar/avatar.jpg" class="img-circle" alt="Avatar">
						</div><!-- /.testimonial-avatar -->
					</div><!-- /.testimonial-inner -->
				</div><!-- /.item .active -->
				<div class="item">
					<div class="testimonial-inner">
						<h5>&#34;
						Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi
						&#34;</h5>
						<h4 class="testimonial-name">Sam Bason - Tokyo, Japan</h4>
						<div class="testimonial-avatar">
							<img src="assets/img/avatar/avatar.jpg" class="img-circle" alt="Avatar">
						</div><!-- /.testimonial-avatar -->
					</div><!-- /.testimonial-inner -->
				</div><!-- /.item -->
				<div class="item">
					<div class="testimonial-inner">
						<h5>&#34;
						Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi
						&#34;</h5>
						<h4 class="testimonial-name">Sara Curtis - London, UK</h4>
						<div class="testimonial-avatar">
							<img src="assets/img/avatar/avatar.jpg" class="img-circle" alt="Avatar">
						</div><!-- /.testimonial-avatar -->
					</div><!-- /.testimonial-inner -->
				</div><!-- /.item -->
			  </div><!-- /.carousel-inner -->
			</div><!-- /.carousel-landing .carousel .carousel-testimonial .slide -->
			<!-- END TESTIMONIAL CAROUSEL -->
		</div><!-- /.container -->
	</div><!-- /.inner-section -->
</div><!-- /.section-page-landing .section-grey -->
<!-- 
===========================================
END SERVICES SECTION
===========================================
-->
