<!-- 
===========================================
BEGIN TEAM SECTION
===========================================
-->
<div class="section-page-landing section-light-grey" id="team">
	<div class="inner-section">
		<div class="container">
			<h2 class="text-center">Meet Our Team</h2>
			
			<!-- TEAM COLUMN -->
			<div class="row">
				{% for member in site.data.team %}
					<div class="col-md-3 col-sm-6">
						<div class="the-box-landing text-center the-team-landing full">
							<div class="ava-wrap">
									<div class="see-detail"></div>
									<div class="button-link">
										{% if member.twitter %}
											<a href="{{ member.twitter }}"><i class="fa fa-twitter"></i></a>
										{% endif %}
										{% if member.facebook %}
											<a href="{{ member.facebook }}"><i class="fa fa-facebook"></i></a>
										{% endif %}
										{% if member.google %}
											<a href=" {{ member.google }}"><i class="fa fa-google-plus"></i></a>
										{% endif %}
										{% if member.github %}
											<a href="{{ member.github }}"><i class="fa fa-github"></i></a>
										{% endif %}
									</div>
							    {% if member.image %}
									<img src="{{ member.image }}" alt="{{ member.name }}">
								{% else %}
									<img src="assets/img/avatar/avatar.jpg" alt="{{ member.name }}">
								{% endif %}
							</div><!-- /.ava-wrap -->
							<div class="des">
								<h3>{{ member.name }}</h3>
								<h5>-{{ member.role }}-</h5>
							</div><!-- /.des -->
						</div><!-- /.the-box-landing .text-center .the-team-landing full -->
					</div><!-- /.col-md-3 .col-sm-6 -->
				{% endfor %}

			</div><!-- /.row -->
			<!-- END TEAM COLUMN -->
		</div><!-- /.container -->
	</div><!-- /.inner-section -->
</div><!-- /.section-page-landing .section-light-grey -->
<!-- 
===========================================
END TEAM SECTION
===========================================
-->
