<!DOCTYPE html>
<html>

	{% include head.html %}

	<!-- BODY WITH DATA STYPE FOR SCROLLSPY -->
	<body class="tooltips" id="top" data-spy="scroll" data-target="#myScrollspy">

		<!-- START PAGE -->
		<div class="wrapper">

	    	{% include header.html %}

	    	{{ content }}

			<!-- BACK TO TOP BUTTON -->
			<div id="back-top">
				<a href="#top"><i class="fa fa-chevron-up"></i></a>
			</div>
			<!-- END BACK TO TOP -->

	    	{% include footer.html %}

		</div><!-- /.wrapper -->
		<!-- END OF PAGE -->

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="assets/js/jquery.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/third/validator/bootstrapValidator.min.js"></script>
		<script src="assets/js/jquery.smooth-scroll.js"></script>
		
		<!-- REQUIRED FOR LANDING PAGE -->
		<script src="assets/third/hovericon/js/modernizr.custom.js"></script>
		<script src="assets/third/parallax/jquery.parallax-1.1.3.js"></script>
		<script src="assets/third/parallax/TweenMax.min.js"></script>
		<script src="assets/third/parallax/jquery.superscrollorama.js"></script>
		<script src="assets/third/mixitup/jquery.mixitup.js"></script>
		<script src="assets/js/countdown.js"></script>
		<script src="assets/third/backstretch/jquery.backstretch.min.js"></script>
		<script>
			$.backstretch([
			  "images/3 logos.png",
			  "images/FM SM JS working shot.png",
			  "images/Knowledge Exchange diagram.png",
			  "images/General shot 2.png",
			  "images/Secondment chart.png",
			  "images/Team outside offices.png",
			  ], {
				fade: 750,
				duration: 6000
			});
		</script>
		<script src="assets/js/teplok-one-page.js"></script>
		<script src="assets/js/teplok-coming-soon.js"></script>

 	</body>

</html>
